<!--@subject Thankyou For Your Applying @-->
 
{{template config_path="design/email/header_template"}}
<div>
	<div>
		This message has been generated automatically. Please do not reply.
	</div>
	<span>Dear {{var name}}</span>
	<span>Greetings from Forest Essentials!</span>
	<p>
		Thank you for taking the time to send in your CV and applying with us. We appreciate your interest in our company and the job.
	</p>
	<p>
		We have added your CV to our databank and we shall contact you when an appropriate opportunity arises.
	</p>
	
	<p>We wish you all the best for all your future endeavours.</p>
</div> 
{{template config_path="design/email/footer_template"}}
