<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Echidna\InvoiceIntegration\Api\InvoiceManagementInterface"
                type="Echidna\InvoiceIntegration\Model\InvoiceManagement"/>

    <preference for="Echidna\InvoiceIntegration\Api\Data\ApiResponseDataInterface"
                type="Echidna\InvoiceIntegration\Model\Data\ApiResponseData"/>

    <preference for="Echidna\InvoiceIntegration\Api\Data\InvoiceInformationInterface"
                type="Echidna\InvoiceIntegration\Model\Data\InvoiceInformation"/>

</config>
