form#transaction-form {
    max-width: 900px;
    margin: auto;
}
#check-transaction-id label {
    width: 15%;
    float: left;
}
#check-transaction-id input {
    width: 50%;
    padding: 5px 20px;
    outline: 0;
}
.transactionidbutton {
    max-width: 200px;
    margin: auto;
    text-align: center;
    margin-left: 27%;
    background: #e85c23;
    border: 0;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px !important;
}
form#placeorder-form{
    max-width: 900px;
    margin: auto;
}
form#placeorder-form label{
    width: 15%;
    float: left;
}
form#placeorder-form input{
    width: 50%;
    padding: 5px 20px;
    outline: 0;
}
form#placeorder-form select{
    width: 50%;
    padding: 5px 20px;
    outline: 0;
}
.place-order{
    max-width: 200px;
    margin: auto;
    text-align: center;
    margin-left: 27%;
    background: #e85c23;
    border: 0;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px !important;
}
p.sku_comment {
    padding: 5px 0;
}