<?xml version="1.0"?>
<!--
/**
 * Copyright © Echidna, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="echidna_netsuite" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="inventory_source" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="40" translate="label">
                <label>Source Mapping With Netsuite</label>
                <field id="netsuite_mapping" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Source Mapping With Netsuite</label>
                    <frontend_model>Echidna\NetsuiteSalesOrder\Block\System\Config\Form\Field\CustomDisplaySourceList</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>This setting will be used to "display" a Netsuite and Magento Stock Mapping.</comment>
                </field>
            </group>
            <group id="order" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="40" translate="label">
                <label>Order Cron</label>
                <field id="cron_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cron Schedule time for Order</label>
                    <comment>Please enter enter cron execution time e.g 0 0 * * *</comment>
                </field>
                <field id="batch_size" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Batch Size</label>
                    <comment>This setting decides the number of orders to be process at a time. Default is 50.</comment>
                </field>
            </group>
            <group id="fulfillment" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="40" translate="label">
                <label>Order Fulfillment Cron</label>
                <field id="cron_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cron Schedule time for Order Item Fulfillment</label>
                    <comment>Please enter enter cron execution time e.g 0 0 * * *</comment>
                </field>
                <field id="batch_size" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Batch Size</label>
                    <comment>This setting decides the number of orders to be process at a time for the item fulfillment. Default is 50.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
